<ion-header>
  <ion-toolbar>
    <ion-button color="dark" fill="clear" slot="start" (click)="mockNavigateToSettings()">
      <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
    </ion-button>
    <ion-title>Tasks</ion-title>
    <ion-button color="success" fill="clear" slot="end" (click)="shuffleTasks()">
      <ion-icon slot="icon-only" name="shuffle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="this.quests !== []">
    <div *ngFor="let quest of quests">
      <ion-item-sliding>
        <ng-container>
          <!-- <ion-item (click)="getDetailChat(chat.id)"> -->
          <ion-item>
            <div class="ion-padding">
              <ion-label>{{ quest['content'] }}</ion-label>
              <ion-note>{{ quest['assigneName'] }}</ion-note>
            </div>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="deleteQuestItem(quest)" color="danger" expandable>
              <ion-icon name="trash-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ng-container>
      </ion-item-sliding>
    </div>
  </div>

  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="openAddQuestTaskModal()" color="success">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
