<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button color="dark" fill="clear" slot="start" (click)="navigateToHome()">
      <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
    </ion-button>
    <ion-avatar class="chat-avatar">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
  </ion-buttons>
    <ion-title class="ion-padding" *ngIf="this.chat !== null">
      {{ this.chat['name']}}
    </ion-title>      
    <ion-button color="dark" fill="clear" slot="end" (click)="mockNavSettings()">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
    <div
        #scrollMe
        class="chat-nachrichten"
    >
        
      <ion-list>
        <div class="messages" *ngFor="let message of messages" [class.other]="message['authorName'] === this.user['name']">
          <div class="message">
            <span>
              <h3>{{ message['authorName'] }}</h3>
              <p>{{ message['content']}}</p>
              <div class="time">{{ message['createdDateTime'] | date: 'shortTime' }}</div>
            </span>
          </div>
        </div>
      </ion-list>
    </div>
    <form class="chat-eingabe">
        <ion-grid>
            <ion-row>
                <ion-col size="10">
                    <ion-input
                        autofocus="true"
                        type="text"
                        name="message"
                        [(ngModel)]="message"
                        (keyup.enter)="sendMessage(message)"
                        #messageField
                    >
                    </ion-input>
                </ion-col>
                <ion-col size="2" class="ion-text-right">
                    <ion-button color="danger" (click)="sendMessage(message)">
                        <ion-icon *ngIf="!showSpinnerIcon" name="send">
                        </ion-icon>
                        <ion-spinner *ngIf="showSpinnerIcon" name="bubbles">
                        </ion-spinner>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>