<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      YeetQuest
    </ion-title>
    <ion-button color="dark" fill="clear" slot="end" (click)="navigateToArchive()">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">YeetQuest</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="bg-image-container">
    <ion-item-sliding>
      <ng-container>
        <ion-item-options side="start">
          <ion-item-option (click)="deleteChat(chat)" color="danger" expandable>
            <ion-icon name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item (click)="getDetailChat(chat.id)">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div class="ion-padding">
            <ion-label>This Chat</ion-label>
            <ion-note>Last Message</ion-note>
          </div>
        </ion-item>
      </ng-container>
    </ion-item-sliding>
    <ion-item-sliding>
      <ng-container>
        <ion-item-options side="start">
          <ion-item-option (click)="deleteChat(chat)" color="danger" expandable>
            <ion-icon name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item (click)="getDetailChat(chat.id)">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div class="ion-padding">
            <ion-label>Other Chat</ion-label>
            <ion-note>Last Message</ion-note>
          </div>
        </ion-item>
      </ng-container>
    </ion-item-sliding>
  </div>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="openAddChatModal()" color="success">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
