.bg-image-container{
  background-image: url(../../assets/images/background-icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 100%;
  inset: 0;
}

.alertCancel{
  color: red;
}